.title {
  color: #08A6E4;
  font-style: Raleway;
  font-weight: 300;
  font-size: xx-large; }

.edge {
  width: 100%;
  padding: 1.5rem;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.6); }

.top-nav__img {
  position: absolute;
  right: 1.5rem;
  top: 2.5rem; }

.article-open {
  margin: 1rem;
  margin-top: 5rem;
  text-align: center; }
  .article-open__title {
    font-size: xx-large; }
  .article-open__description {
    margin: 2rem; }
  .article-open__button {
    width: 90%;
    height: 4.5rem;
    background-color: #08A6E4;
    border-radius: 40px;
    box-shadow: 1px 1px 20px rgba(122, 201, 213, 0.6);
    font-size: large;
    font-style: Open Sans;
    font-weight: 700;
    color: white; }

.section-metrics {
  text-align: center; }
  .section-metrics__img {
    width: 100%; }
  .section-metrics__text {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 5%; }
  .section-metrics__card {
    margin: 5%; }
    .section-metrics__card__img {
      position: absolute;
      left: 50%;
      margin-top: .4rem; }
    .section-metrics__card__number {
      margin: 1rem;
      font-style: Raleway;
      font-weight: 800;
      size: .5rem;
      letter-spacing: .15rem; }
    .section-metrics__card__text {
      color: gray; }

.section-info {
  padding: 1rem;
  background-color: #F7F7F7; }
  .section-info__article {
    padding: 1rem;
    margin: 1rem;
    background-color: white;
    text-align: left; }
    .section-info__article__img-container {
      width: 100%;
      margin-block: 3rem;
      text-align: center; }
    .section-info__article__bg-img__right {
      width: 7rem;
      transform: translate(55%, -25%); }
    .section-info__article__bg-img__center {
      width: 9rem;
      transform: translate(-25%, -15%); }
    .section-info__article .right {
      transform: translate(10%, -25%); }
    .section-info__article__top-img {
      position: absolute;
      left: 25%; }
    .section-info__article__headline {
      font-style: Raileway;
      font-weight: 400;
      font-size: 2.1rem; }

.section-pricing {
  text-align: center; }
  .section-pricing__header {
    font-style: Raleway;
    font-weight: 400;
    font-size: xx-large; }
  .section-pricing__card {
    position: relative;
    margin: 5%;
    display: inline-block;
    vertical-align: top;
    width: 80%;
    padding: 4%; }
    .section-pricing__card--red {
      border: 1px solid #FB3B64;
      border-radius: 18px; }
    .section-pricing__card--blue {
      border: 1px solid #07ACE6;
      border-radius: 18px; }
    .section-pricing__card--green {
      border: 1px solid #55DFB4;
      border-radius: 18px; }
    .section-pricing__card__plan {
      font-weight: 700; }
    .section-pricing__card__div {
      display: inline-block;
      width: 49%;
      vertical-align: middle;
      margin: 0 0; }
    .section-pricing__card li {
      margin-bottom: 10%;
      margin-left: 20%; }
    .section-pricing__card__element--active {
      list-style-image: url("./../res/Checkbox.png"); }
    .section-pricing__card__element--inactive {
      list-style-image: url("./../res/Cross.png"); }

.plan-price {
  font-size: xx-large; }
  .plan-price--red {
    color: #FB3B64; }
  .plan-price--blue {
    color: #07ACE6; }
  .plan-price--green {
    color: #55DFB4; }

.plan-button {
  position: absolute;
  top: 90%;
  left: 25%;
  border-radius: 23px;
  width: 50%;
  height: 20%;
  color: white;
  border: none; }
  .plan-button--red {
    background-color: #EB476E; }
  .plan-button--blue {
    background-color: #07ACE6; }
  .plan-button--green {
    background-color: #55DFB4; }

.form-contact {
  margin: 9%; }
  .form-contact header {
    font-style: Raleway;
    font-weight: 400;
    font-size: 3rem; }
  .form-contact__data {
    margin-block: 10%; }
    .form-contact__data div {
      column-count: 2;
      text-align: left; }
      .form-contact__data div span {
        margin-left: 3%;
        height: 100%;
        vertical-align: middle;
        font-style: 'Open Sans';
        font-weight: 600;
        color: #A5A5A5; }
  .form-contact__input {
    margin-bottom: 2rem; }
    .form-contact__input label {
      color: #08A6E4;
      letter-spacing: .25rem;
      font-size: .9rem;
      font-style: 'Open Sans';
      font-weight: 600; }
    .form-contact__input input {
      width: 100%;
      border: 0;
      border-bottom: .1rem solid #95989A; }
  .form-contact__terms {
    margin-bottom: 2rem; }

.form-contact > p {
  font-size: large; }

.form-contact__submit {
  position: relative;
  left: 30%;
  width: 70%;
  height: 4rem;
  border-radius: 35px;
  background-color: #08A6E4;
  color: white;
  border: 0;
  box-shadow: 0 4px 20px -6px #08A6E4; }

footer .rights {
  font-size: small;
  font-style: 'Open Sans';
  font-weight: 400;
  color: #A5A5A5; }
footer .social {
  position: absolute;
  vertical-align: middle;
  right: 10%;
  transform: translateY(-150%);
  text-align: right; }
  footer .social img {
    margin-inline: .5rem; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  min-width: 320px; }

/*# sourceMappingURL=styles.css.map */
