.title {
  color: #08A6E4;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: xx-large; }

.edge {
  width: 100%;
  padding: 1.5rem;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.6); }

.absolute {
  position: absolute; }

.center, .center__down {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }
  .center__down {
    top: .5rem; }

@media screen and (min-width: 1000px) {
  .desktop--none {
    display: none; } }
@media screen and (max-width: 1000px) {
  .mobile--none {
    display: none; } }
.top-nav__img {
  position: absolute;
  right: 1.5rem;
  top: 2.5rem; }
.top-nav__menu {
  position: absolute;
  right: 0;
  top: 50%; }
  .top-nav__menu span {
    margin-inline: 1.5rem; }

nav.edge {
  position: relative;
  width: 100%;
  padding: 1.5rem;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.6);
  column-count: 2; }

@media screen and (min-width: 1000px) {
  .top-nav__img {
    display: none; }

  .top-nav__menu :last-child {
    margin-right: 4rem; } }
@media screen and (max-width: 1000px) {
  .top-nav__menu {
    display: none; } }
.article-open {
  margin: 1rem;
  margin-top: 5rem;
  text-align: center; }
  .article-open__title {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: xx-large; }
  .article-open__description {
    font-family: "Open Sans", sans-serif;
    margin: 2rem; }
  .article-open__button {
    width: 90%;
    height: 4.5rem;
    background-color: #08A6E4;
    border-radius: 40px;
    border: 0;
    box-shadow: 1px 1px 20px rgba(122, 201, 213, 0.6);
    font-size: large;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: white; }

@media screen and (min-width: 1000px) {
  .article-open__button {
    max-width: 440px; } }
.section-metrics {
  text-align: center; }
  .section-metrics__img {
    width: 100%; }
  .section-metrics__text {
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    margin: 5%; }
  .section-metrics__card {
    position: relative;
    margin: 20%; }
    .section-metrics__card__img {
      position: absolute;
      left: 50%;
      margin-top: .4rem; }
    .section-metrics__card__number {
      margin: 1rem;
      font-family: "Raleway", sans-serif;
      font-weight: 800;
      size: .5rem;
      letter-spacing: .15rem; }
    .section-metrics__card__text {
      color: gray;
      margin-inline: 1rem; }

@media screen and (min-width: 1000px) {
  .section-metrics__div {
    display: flex;
    flex-direction: row;
    justify-content: center; }

    /*
    .section-metrics {
        :first-child {
            display: none;
        }
    }
    .section-metrics__div {
        width: 100%;
        display: flex;
        flex-direction: row;
//        column-count: 3;
    }
*/ }
.section-info {
  padding: 1rem;
  background-color: #F7F7F7;
  text-align: center; }
  .section-info__article {
    padding-top: 3rem;
    margin-block: 2.9rem;
    background-color: white;
    text-align: left; }
    .section-info__article__img-container {
      position: relative; }
    .section-info__article__bg-img {
      position: relative; }
      .section-info__article__bg-img__right {
        width: 7rem;
        left: 9rem;
        bottom: 2.5rem; }
      .section-info__article__bg-img--center {
        width: 9rem;
        left: 3.5rem;
        bottom: 1.1rem; }
      .section-info__article__bg-img--fill {
        width: 100%; }
    .section-info__article__text {
      padding: 1.5rem;
      padding-top: 0; }
    .section-info__article__headline {
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      font-size: 2.1rem;
      margin-bottom: 2rem; }

@media screen and (min-width: 1000px) {
  .section-info {
    padding: 5rem; }
    .section-info__article {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
      .section-info__article__top-img {
        left: 23rem; }
        .section-info__article__top-img--center {
          left: 23rem; }
    .section-info--reverse {
      flex-direction: row-reverse; }

    /*
    .section-info{

        &--right {
            position: relative;
            right: 0;
        }

        &--left {
            position: absolute;
            left: 0;
        }

        &__article {
            position: relative;
            column-count: 2;

            &__img-container{
                width: 100%;
            }

            &__text {
                position: relative;
//                width: 50%;
            }
        }
    }
        */ }
.section-pricing {
  text-align: center; }
  .section-pricing__header {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: xx-large;
    margin-top: 2rem; }
  .section-pricing__card {
    position: relative;
    margin: 5%;
    display: inline-block;
    vertical-align: top;
    width: 80%;
    padding: 3%; }
    .section-pricing__card:hover {
      transform: scale(1.2); }
    .section-pricing__card--red {
      border: 1px solid #FB3B64;
      border-radius: 18px; }
    .section-pricing__card--blue {
      border: 1px solid #07ACE6;
      border-radius: 18px; }
    .section-pricing__card--green {
      border: 1px solid #55DFB4;
      border-radius: 18px; }
    .section-pricing__card--red:hover {
      box-shadow: 1px 1px 20px #FB3B64; }
    .section-pricing__card--blue:hover {
      box-shadow: 1px 1px 20px #07ACE6; }
    .section-pricing__card--green:hover {
      box-shadow: 1px 1px 20px #55DFB4; }
    .section-pricing__card__plan {
      font-weight: 700; }
    .section-pricing__card__div {
      margin-block: 2rem;
      display: inline-block;
      width: 49%;
      vertical-align: middle; }
    .section-pricing__card li {
      margin-bottom: 10%;
      margin-left: 20%; }
    .section-pricing__card__element--active {
      list-style-image: url("./../res/png/Checkbox.png"); }
    .section-pricing__card__element--inactive {
      list-style-image: url("./../res/png/Cross.png"); }

.section-pricing__card
.plan-price {
  font-size: xx-large; }
  .section-pricing__card
  .plan-price--red {
    color: #FB3B64; }
  .section-pricing__card
  .plan-price--blue {
    color: #07ACE6; }
  .section-pricing__card
  .plan-price--green {
    color: #55DFB4; }

.plan-button {
  position: absolute;
  top: 90%;
  left: 25%;
  border-radius: 23px;
  width: 50%;
  height: 20%;
  color: white;
  border: none; }
  .plan-button--red {
    background-color: #EB476E; }
  .plan-button--blue {
    background-color: #07ACE6; }
  .plan-button--green {
    background-color: #55DFB4; }

@media screen and (min-width: 1000px) {
  .section-pricing > div {
    display: flex;
    flex-direction: row; }

  .section-pricing__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; } }
.form-contact {
  margin: 9%; }
  .form-contact header {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 3rem; }
  .form-contact__data {
    margin-block: 10%; }
    .form-contact__data div {
      column-count: 2;
      text-align: left; }
      .form-contact__data div span {
        margin-left: 3%;
        height: 100%;
        vertical-align: middle;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        color: #A5A5A5; }
  .form-contact__input {
    margin-bottom: 2rem; }
    .form-contact__input label {
      color: #08A6E4;
      letter-spacing: .25rem;
      font-size: .9rem;
      font-family: "Open Sans", sans-serif;
      font-weight: 600; }
    .form-contact__input input {
      width: 100%;
      border: 0;
      border-bottom: .1rem solid #95989A; }
  .form-contact__terms {
    margin-bottom: 2rem; }

.form-contact > p {
  font-size: large; }

.form-contact__submit {
  position: relative;
  left: 30%;
  width: 70%;
  height: 4rem;
  border-radius: 35px;
  background-color: #08A6E4;
  color: white;
  border: 0;
  box-shadow: 0 4px 20px -6px #08A6E4; }

@media screen and (min-width: 1000px) {
  .form-contact {
    display: flex;
    flex-direction: row; }

  .form-contact > section {
    width: 50%; } }
footer .rights {
  font-size: small;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #A5A5A5; }
footer .social {
  position: absolute;
  vertical-align: middle;
  right: 10%;
  transform: translateY(-150%);
  text-align: right; }
  footer .social img {
    margin-inline: .5rem; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  min-width: 320px; }

/*# sourceMappingURL=styles.css.map */
