.article-open {
    margin: 1rem;
    margin-top: 5rem;

    text-align: center;

    &__title {
        font-family: $raleway;
        font-weight: 400;
        font-size: xx-large;
    }

    &__description {
        font-family: $opensans;
        margin-block: 2rem;
    }

    &__button {
        width: 90%;
        height: 4.5rem;
        background-color: #08A6E4;
        border-radius: 40px;
        border: 0;
        box-shadow: 1px 1px 20px rgba(122, 201, 213, 0.6);

        font-size: large;
        font-family: $opensans;
        font-weight: $bold;
        color: white;
    }
}

@media screen and (min-width : 1000px) {
    .article-open {
        &__button {
            max-width : 440px
        }
    }
}