.scrollbar{
    position: relative;
    width: 0%;
    top: 5.3em;
    height: 0.5em;
    background-color: $theme;
}

.return-to-top{
    border: transparent;
    background-color: transparent;
    width: 2em;
    position: fixed;
    z-index: 50;
    bottom: 1em;
    right: 1em;

    img {
        width: 100%;
    }
}

.select-currency{
    width: 25%;
    height: 2rem;
    text-align: center;
    font-size: x-large;
}

.slider{
    position: relative;
    width: 100%;
    height: 20rem;
    display: flex;
    background-color: black;

    &__arrow {
        height: 3rem;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        margin-inline: 1em;
        background-color: transparent;
        border: 0;

        img{
            width: 100%;
            height: 100%;
        }
    }

    &__img-container{
        width: 75%;
        height: 60%;
        margin: auto;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__images-summary{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 15%;
        gap: .5rem;
        top: auto;

        &__button{
            width: .8rem;
            height: .8rem;
            border: none;
            border-radius: 200px;
            background-color: gray;

            &.current{
                background-color: white;
            }
        }
    }
}

.popup{
    position: fixed;
    width: 80%;
    max-height: 26%;
    border-radius: 14px;
    border:1px solid white;
    background-color: $theme;
    text-align: center;

    &--inactive{
        @extend .popup;
       display: none;
    }


    button {
        position: relative;
        right: 0;
        font-size: xx-large;
        margin-left: 45%;
        border: transparent;
        background-color: transparent;
        color: white;
        width: 100%;
    }

    h2{
        position: relative;
        color: white;
    }

    p{
        margin-top: .4em;
        color: red;
        font-size: larger;
    }

    form{
//        display: block;
//        margin-block: .2em;

        label {
            display: block;
            color: white;
        }

        #popup__input-email{
            border-bottom: 1px solid white;
            color: $theme;
            font-size: large;

            &::placeholder{
                color: gray;
            }
        }

        #popup__button{
            border-radius: 14px;
            padding: 1em;
            background-color: white;
            color: $theme;
            font-weight: $bold;
        }

        input {
            border: 0;
        }

        .invalid {
            border-color: red;
        }
    }
}

@media screen and (min-width : 1000px) {
    .popup{
        width: 33%;

        p {
            margin-top: 1.3em;
            font-size: 25px;
        }
    }

    .slider{
        height: 70rem;

        &__images-summary {
            &__button {
                width: 2rem;
                height: 2rem;
            }
        }
    }
}