.scrollbar{
    position: relative;
    width: 50%;
    top: 5.3em;
    height: 0.5em;
    background-color: #08a6e4;
}

.return-to-top{
    border: transparent;
    background-color: transparent;
    width: 2em;
    position: fixed;
    z-index: 50;
    bottom: 1em;
    right: 1em;

    img {
        width: 100%;
    }
}