footer {

    .rights {
        font-size: small;
        font-family: $opensans;
        font-weight: 400;
        color: #A5A5A5;
    }

    .social {
        position: absolute;
        vertical-align: middle;
        right: 3%;
        transform: translateY(-150%);
        text-align: right;

        img {
            margin-inline: .2em;
        }
    }

}

@media screen and (min-width : 1000px) {
    .social{
        right: 10%;
    }
}