footer {

    .rights {
        font-size: small;
        font-style: 'Open Sans';
        font-weight: 400;
        color: #A5A5A5;
    }

    .social {
        position: absolute;
        vertical-align: middle;
        right: 10%;
        transform: translateY(-150%);
        text-align: right;

        img {
            margin-inline: .5rem;
        }
    }

}