$color : #08A6E4;
$valid-color : #95989A; $invalid-color : red;
$form-contact-margin : 1.5em;

.form-contact {
    margin: 9%;
    &__header {
        font-family: $raleway;
        font-weight: 400;
        font-size: 40px;
        line-height: 46.96px;
    }

    &__subheader {
        font-family: $opensans;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;

        margin-bottom: $form-contact-margin;
    }

    &__data {
        margin-bottom: 2.7rem;

        div {
            text-align: left;

            span { 
                margin-left: .3rem;
                font-family: $opensans;
                font-weight: 600;
                font-size: 16px;
                color: #A5A5A5;
            }
        }
    }

    &__input {
        margin-bottom: 2rem;

        &--invalid {
            border-bottom: 1px solid red;
        }

        label {
            color: $color;
            font-family: $opensans;
            font-weight: 600;
            font-size: 11px;
            line-height: 14.98px;
            letter-spacing: 3.28px;
        }

        &__value {
            @mixin valid($color : #95989A){
                @extend .form-contact__input__value;
                border-bottom: .1rem solid $color;
            }

            margin-top: 1rem;
            width: 100%;
            border: 0;

            &--valid { @include valid($valid-color) }
            &--invalid { @include valid($invalid-color) }
        }
    }

    &__terms {
        span {
            font-family: $opensans;
            font-weight: 400;
            font-size: 12px;
            line-height: 16.34px;
            text-align: justify;
        }


        margin-bottom: 2rem;

        &__input{
            appearance: none;
            width: 1rem;
            height: 1rem;
            border: 1px solid gray;

            &--invalid {
                @extend .form-contact__terms__input;
                border-color: red;
            }
        }
    }
}

.form-contact__terms__input:checked{
    background-image: url('./../res/png/Checkmark.png');
    background-repeat: no-repeat;
    background-size: .75rem;
    background-position: center;
}

.form-contact > p {
        font-size: large;
}

.form-contact__submit {
    position: relative;
    left: 30%;
    width: 18em;
    height: 4rem;
    border-radius: 35px;
    background-color: $color;
    color: white;
    border: 0;
    box-shadow: 0 4px 20px -6px $color;

    font-family: $opensans;
    font-weight: $bold;
    font-size: 13px;
    line-height: 17.7px;
}

@media screen and (min-width : 1000px) {
    .form-contact {
        display: flex;
        flex-direction: row;
        justify-content: center;

        &__header {
            font-size: 49px;
        }

        &__subheader {
            margin-block: $form-contact-margin ;
        }

        &__data {
            display: flex;
            flex-direction: row;
            gap: 2rem;
            align-items: center;
        }

        &__form {
            width: 30%;
        }

        &__submit {
            left: 60%;
        }
    }

    .form-contact > section {
        width: 30%;
    }
}