$color : #08A6E4;

.form-contact {
    margin: 9%;
    header {
        font-family: $raleway;
        font-weight: 400;
        font-size: 40px;
        line-height: 46.96px;
    }

    &__subheader {
        font-family: $opensans;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
    }

    &__data {
        margin-block: 10%;

        div {
            text-align: left;

            span { 
                margin-left: .3rem;
                font-family: $opensans;
                font-weight: 600;
                font-size: 16px;
                color: #A5A5A5;
            }
        }
    }

    &__input {
        margin-bottom: 2rem;
        label {
            color: $color;
            font-family: $opensans;
            font-weight: 600;
            font-size: 11px;
            line-height: 14.98px;
            letter-spacing: 3.28px;
        }

        input {
            margin-top: 1rem;
            width: 100%;
            border: 0;
            border-bottom: .1rem solid #95989A;
        }
    }

    &__terms {
        font-family: $opensans;
        font-weight: 400;
        font-size: 12px;
        line-height: 16.34px;

        margin-bottom: 2rem;
    }
}

.form-contact > p {
        font-size: large;
}

.form-contact__submit {
    position: relative;
    left: 30%;
    width: 70%;
    height: 4rem;
    border-radius: 35px;
    background-color: $color;
    color: white;
    border: 0;
    box-shadow: 0 4px 20px -6px $color;
}

@media screen and (min-width : 1000px) {
    .form-contact {
        display: flex;
        flex-direction: row;
    }

    .form-contact > section {
        width: 50%;
    }
}