$raleway : 'Raleway', sans-serif;
$opensans : 'Open Sans', sans-serif;
$bold : 700;

.title {
    color: #08A6E4;
    font-family: $raleway;
    font-weight: 300;
    font-size: xx-large
}

.edge {
    width: 100%;
    padding: 1.5rem;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, .6);
}

.absolute{
    position: absolute;
}

.center {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    &__down {
        @extend .center;
        top: .5rem;
    }
}

@media screen and (min-width : 1000px) {
    .desktop{
        &--none {
            display: none;
        }
    }
}

@media screen and (max-width : 1000px) {
    .mobile {
        &--none {
            display: none;
        }
    }
}