.section-info {
    padding: 1rem;
    background-color: #F7F7F7;
    text-align: center;

    &--left {
        padding-top: 2rem;
    }

    &__article {
        padding-top: 3rem;
        margin-block: 2.9rem;
        background-color: white;
        text-align: left;

        &__img-container {
            position: relative;
            margin-bottom: 2rem;
        }

        &__bg-img { 
            position: relative;

            &__right {
                @extend .section-info__article__bg-img;
                width: 7rem;
                left: 11rem;
                bottom: 2.5rem;      
            }

            &--center {
                @extend .section-info__article__bg-img;
                width: 9rem;
                left: 3.5rem;
                bottom: 1.1rem;
            }

            &--fill {
                width: 100%;
            }
        }

        &__text {
            background-color: white;
            padding: 2.2rem;
            padding-top: 0;
        }

        &__headline {
            font-family: $raleway;
            font-weight: 400;
            font-size: 2.1rem;
            margin-bottom: 2rem;

            &--last {
                @extend .section-info__article__headline;
                padding-top: 2rem;
            }
        }

        &__description {
            font-family: $opensans;
            font-size: 14px;
        }
    }
}

// Desktop
@media screen and (min-width : 1000px) {
    .section-info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &__article{
            width: 70rem;
            display: flex;
            flex-direction: row;
            align-items: center;

            padding-top: 5rem;

            &__headline {
                &--last {
                    padding-top: 6rem;
                }
            }

            &__description {
                font-size: 16px;
            }

            &__text {
                width: 50%;
                padding-block: 0;
            }

            &__img-container {
                width: 60%;

                &.little{
                    width: 35%;
                    margin: 0;
                }
            }

            &__bg-img {     
                &__right {
                    width: 16rem;
                    left: 18.5rem;
                    bottom: 4rem;
                }

                &--center {
                    width: 20rem;
                }
            }

            &__top-img {
                left: 23rem;

                &--center {
                    left: 23rem;
                }
            }

            &__vector {
                margin-block: 3rem;
            }

            &--last{
                display: flex;
                justify-content: space-between;
                padding-top: 0;
                background-color: transparent;
            }
        }

        &--reverse{
            flex-direction: row-reverse;
        }
    }
}