$red : #FB3B64; $crimson : #EB476E; $vividsky : #07ACE6; $blue : #07ACE6; 
$aquamarine : #55DFB4; $green : #55DFB4;
$checkbox : './../res/png/Checkbox.png'; $cross : './../res/png/Cross.png';

.section-pricing {
    text-align: center;

    &__header { 
        font-family: $raleway; font-weight: 400; font-size: xx-large; 
        margin-top: 3em; 
        margin-bottom: 2em;
    }

    &__card {
        position: relative;
        margin: 4%;
        display: inline-block;
        vertical-align: top;
        width: 80%;

        &:hover {
            transform: scale(1.2);
        }

        @mixin cardBorder ($color : $red ) { border: 1px solid $color; border-radius: 18px; }

        &--red { @include cardBorder($red) }
        &--blue { @include cardBorder($blue) }
        &--green { @include cardBorder($green) }

        @mixin hovercolor ($color: $red) { box-shadow: 1px 1px 20px $color;}

        &--red:hover{ @include hovercolor($red) }
        &--blue:hover{ @include hovercolor($blue) }
        &--green:hover{ @include hovercolor($green) }

        &__plan { font-family: $raleway; font-weight: $bold; font-size: 20px; line-height: 24px; }

        &__div { 
            margin-block: 2rem;
            display: inline-block; 
            width: 49%;
            vertical-align: middle; 

            &>ul{
                padding-inline-end: .21em;
            }
        }

        li {
            margin-bottom: 10%;
            margin-left: 20%;
            text-align: left;
        }

        &__element {
            font-family: $opensans;
            font-weight: 400;
            font-size: 14px;
            line-height: 19.07px;

            &--active {
                @extend .section-pricing__card__element;
                list-style-image: url($checkbox);
            }
            &--inactive {
                @extend .section-pricing__card__element;
                list-style-image: url($cross);
            }
        }
    }
}


.plan-price {
    font-family: $opensans;
    font-weight: 300;
    font-size: 46px;
    line-height: 64px;

    @mixin planPrice ($color : $red ) { color: $color; }
    &--red { @include planPrice($red) }
    &--blue { @include planPrice($blue) }
    &--green { @include planPrice($green) }
}

.plan-limited-offer {
    font-family: $raleway;
    font-weight: $bold;
    font-size: 12px;
    line-height: 14.09px;
}

.plan-button {
    position: absolute; 
    top: 90%; left: 25%;
    border-radius: 23px;
    width: 50%; height: 20%;
    color: white;
    border: none;

    font-family: $opensans;
    font-weight: $bold;
    font-size: 13px;
    line-height: 17.7px;

    @mixin buttonBg($color : $crimson) { @extend .plan-button; background-color: $color; }

    &--red { @include buttonBg($crimson) }
    &--blue { @include buttonBg($vividsky) }
    &--green { @include buttonBg($aquamarine) }
}

@media screen and (max-width: 1000px) {
    .section-pricing{
        &__card{
            margin-bottom: 3em;
        }
    }
}

@media screen and (min-width :1000px ) {
    .section-pricing__cards-div {
        display: flex;
        flex-direction: row;

        margin-top: 1.2rem;
    }

    .section-pricing{
        &__card {
            display: flex;
            margin-block: 2em;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            li{
                margin-left: 36%;
            }
        }

        &__div{
            &>ul {
                padding-inline-end: 0;
            }
        }
    }

    .plan-button {
        top: 95%;
        height: 3rem;
    }
}