.section-info {
    padding: 1rem;
    background-color: #F7F7F7;
    text-align: center;

    &__article {
        padding-top: 3rem;
        margin-block: 2.9rem;
        background-color: white;
        text-align: left;

        &__img-container {
            position: relative;
            margin-bottom: 2rem;
        }

        &__bg-img { 
            position: relative;

            &__right {
                @extend .section-info__article__bg-img;
                width: 7rem;
                left: 11rem;
                bottom: 2.5rem;      
            }

            &--center {
                @extend .section-info__article__bg-img;
                width: 9rem;
                left: 3.5rem;
                bottom: 1.1rem;
            }

            &--fill {
                width: 100%;
            }
        }

        &__text {
            padding: 2.2rem;
            padding-top: 0;
        }

        &__headline {
            font-family: $raleway;
            font-weight: 400;
            font-size: 2.1rem;
            margin-bottom: 2rem;
        }

        &__description {
            font-family: $opensans;
            font-size: 14px;
        }
    }
}

// Desktop
@media screen and (min-width : 1000px) {
    .section-info {
        padding: 5rem;

        &__article{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            padding-top: 5rem;

            &__description {
                font-size: 16px;
            }

            &__text {
                width: 50%;
            }

            &__img-container {
                right: 0;
            }

            &__bg-img {     
                &__right {
                    width: 16rem;
                    bottom: 4rem;
                }
            }

            &__top-img {
                left: 23rem;

                &--center {
                    left: 23rem;
                }
            }

            &__vector {
                margin-block: 3rem;
            }
        }

        &--reverse{
            flex-direction: row-reverse;
            padding-right: 15rem;
        }
    }
    /*
    .section-info{

        &--right {
            position: relative;
            right: 0;
        }

        &--left {
            position: absolute;
            left: 0;
        }

        &__article {
            position: relative;
            column-count: 2;

            &__img-container{
                width: 100%;
            }

            &__text {
                position: relative;
//                width: 50%;
            }
        }
    }
        */
}