.top-nav {
    &__img {
        position: absolute;
        right: 1.5rem;
        top: 2.5rem;
    }

    &__menu {
        position: absolute;
        right: 0;
        top: 50%;

        span {
            margin-inline: 1.5rem;
        }
    }
}

nav.edge {
    position: relative;
    width: 100%;
    padding: 1.5rem;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, .6);
    column-count: 2;
}

@media screen and (min-width: 600px) {
    .top-nav {
        &__img {
            display: none;
        }
    }

    .top-nav__menu :last-child {
        margin-right: 4rem;
    }
}

@media screen and (max-width : 600px) {
    .top-nav__menu {
        display: none;
    }
}