.top-nav {
    position: fixed;
    z-index: 999;
    bottom: auto;

    &__img {
        position: absolute;
        right: 1.5rem;
        top: 2.5rem;
    }

    &__menu {
        position: absolute;
        right: 0;
        top: 50%;

        span {
            margin-inline: 1.5rem;

            font-family: $opensans;
            font-weight: $bold;
            font-size: 11px;
            line-height: 15px;
            letter-spacing: 3.28px;

            color: #A5A5A5;

            &:hover{
                color: black;
            }
        }
    }
}

nav.edge {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    @extend .edge;
    column-count: 2;
    background-color: white;
}

@media screen and (min-width: 1000px) {
    .top-nav {
        &__img {
            display: none;
        }

        &__menu {
            span:hover{
                color: black;
                text-decoration: underline;
                text-decoration-color: #08A6E4;
                text-underline-offset: 1.5rem;
                text-decoration-thickness: 0.25rem;
            }
        }
    }

    .top-nav__menu :last-child {
        margin-right: 4rem;
    }
}

@media screen and (max-width : 1000px) {
    .top-nav__menu {
        display: none;
        position: relative;
        max-width: 50%;
        margin-top: 3em;

        span {
            margin-inline-start: 0;
        }
    }
}